<div>
    <p>Hi <%= comment.user.name %></p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got published on Connect!</p>
    <br>
    <br>
    <p>Thanks for using Connect!</p>
    <p>Stay Connected! 😉</p>
</div>