footer {
  background-color: midnightblue;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: whitesmoke; }
  footer #header {
    margin: 10px; }
  footer h2 {
    margin: 10px 0px;
    display: inline;
    font-family: 'Sacramento', cursive; }
  footer h3 {
    display: inline;
    font-size: 25px; }
  footer ul li {
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 10px; }
    footer ul li a {
      color: whitesmoke; }
      footer ul li a a:hover {
        color: black; }
