header {
  background-color: midnightblue;
  text-align: left; }
  header #heading {
    color: whitesmoke;
    padding: 20px 40px;
    font-size: 40px;
    width: 60%;
    display: inline-block; }
  header ul {
    display: inline-block;
    width: 10%;
    margin: 10px 0px;
    margin-left: 300px; }
    header ul li {
      list-style-type: none; }
      header ul li a {
        text-decoration: none;
        color: aliceblue;
        width: 10px;
        font-size: 20px; }
    header ul a:hover {
      color: cadetblue;
      font-size: 21px; }
